@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));



.dark body{
    background-color: #070707;
    color: white;

}

body{
    background-color: #d2d2d2;
    color: black;

}
.hide-scrollbar::-webkit-scrollbar{
    display: none;
}

.hide-scrollbar{
    scrollbar-width: none;
    -ms-overflow-style: none;
}
